// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 600;
  color:#333;
}
.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
// custom
.header-link{
  color:#333;
  font-weight: 700;
}
.title-link{
  color:#333!important;
  font-weight: 700!important;
}
.bg-header{
  background:#fffdfa;
  border-bottom:1px solid #ff8100;
}
.bg-tomato{
  background: tomato;
}
.border-orange{
  border-top:8px solid #ff8100;
  border-bottom:8px solid #ff8100;
  background:#fffdfa;
}
.border-orange-top{
  border-top:8px solid #ff8100;
}
.border-bottom{
  border-bottom:1px solid #ededed;
  margin-bottom:$global-margin;
}
.center-image{
  margin-right:auto;
  margin-left:auto;
}
.center-image-large {
  margin-right: auto;
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-left: auto;
  }
}
.margin-top{
  margin-top:$global-margin/2;
}
.padding-top{
  padding-top:$global-padding;
}
.padding-none{
  padding-left:0!important;
  padding-right:0!important;
}
.text-right-small {
  @media only screen and (max-width: #{$global-breakpoint}) {
  text-align:center!important;
  }
    text-align: right;
}
.text-left-small {
  @media only screen and (max-width: #{$global-breakpoint}) {
  text-align:center!important;
  }
    text-align: left;
}
.text-left-large {
  @media only screen and (max-width: #{$global-breakpoint}) {
    text-align: left;
  }
    text-align:center!important;
}
.text-center{
  text-align: center;
}
a.button-um{
  color:#fff;
  background:#1daced;
  padding:$global-padding/4 $global-padding/2;
  border-radius: $global-gutter/4;
}
a.button-large{
  padding:$global-padding $global-padding*2 ;
  width: 100%;
  font-weight: 700;
}